/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

/.idea/*

.env

/db/schema.rb
/db/structure.sql
/coverage/*
/public/system/dragonfly/*
.byebug_history
.DS_Store%